@model PracticaBiblioteca.ViewModels.RegisterViewModel

<h1>Registrarse</h1>

<form asp-action="Register" asp-controller="Account" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="NombreUsuario"></label>
        <input asp-for="NombreUsuario" class="form-control" />
        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Contrasena"></label>
        <input asp-for="Contrasena" type="password" class="form-control" />
        <span asp-validation-for="Contrasena" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmarContrasena"></label>
        <input asp-for="ConfirmarContrasena" type="password" class="form-control" />
        <span asp-validation-for="ConfirmarContrasena" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdRol"></label>
        <select asp-for="IdRol" class="form-control" asp-items="ViewBag.Roles"></select>
        <span asp-validation-for="IdRol" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Registrarse</button>
</form>
