@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>@ViewData["Title"]</h2>
<p>Bienvenido administrador. Aqui encontraras muchas funciones. Recuerda cerrar sesion correctamente al finalizar tu trabajo.</p>

