@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>@ViewData["Title"]</h2>
<<<<<<< HEAD
<p>Bienvenido al dashboard del administrador.</p>
=======
<p>Bienvenido administrador. Aqui encontraras muchas funciones</p>
>>>>>>> 82ab51ae929a59267a1c5bf134c4ebf31ca81873
