@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Gestion de Bibliotecas</h1>
    <p>Sistema de Gestion de Bibliotecas para administracion.</p>
</div>
